<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      header {
        text-align: center;
        padding: 10px;
        background-color: #f2f2f2;
      }
      nav {
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }
      nav a {
        margin: 0 15px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
      }
      .container {
        max-width: 800px;
        margin: 20px auto;
      }
      form {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      nav a[href="/"] {
        background-color: #272727;
        color: #ffffff;
        width: 70px;
        height: 20px;
        text-align: center;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Selamat Datang!!!</h1>
      <h2>Informasi atau Dashbord Data Promosi Retail</h2>
    </header>

    <nav>
      <a href="/">Home</a>
      <a href="/addfile">Add File Excel/CSV</a>
      <a href="/summarizedata">Summarize Data</a>
      <a href="/grafikbar">Grafik Bar</a>
      <a href="/grafikScatter">Grafik ScatterPlot</a>
    </nav>

    <div class="container">
      <h2>Home Page</h2>
      <p>
        This is the home page of our web application. You can find general
        information about the features we provide here.
      </p>
    </div>
  </body>
</html>
