<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summarize Data</title>
    <script src="/index.js" defer></script>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f7f7f7;
      }
      header {
        text-align: center;
        padding: 20px;
        background-color: #333;
        color: #fff;
      }
      nav {
        display: flex;
        justify-content: center;
        background-color: #444;
        padding: 10px;
      }
      nav a {
        margin: 0 15px;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        transition: color 0.3s ease, transform 0.2s ease;
      }
      nav a:hover {
        color: #ffcc00;
        transform: scale(1.1);
      }

      .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        overflow: auto;
      }

      form {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }

      textarea {
        width: 100%;
        height: 100px;
        margin-bottom: 10px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: none;
      }

      #selectColumn{
        margin-bottom: 2%;
      }

      #selectOperation{
        margin-bottom: 2%;
      }

      button {
        background-color: #272727;
        color: #ffffff;
        margin-top: 2%;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
      }

      button:hover {
        background-color: #ffcc00;
      }
      #summaries {
        color: #ffcc00;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        overflow-x: auto; /* Aktifkan gulir horizontal */
      }

      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        white-space: nowrap; /* Hindari pemutusan baris */
      }

      th {
        background-color: #333;
        color: white;
      }

      tr:hover {
        background-color: #f5f5f5;
      }

      .table-container {
        max-height: 400px; /* Adjust the height as needed */
        overflow: auto;
      }
    </style>

  </head>
  <body>
    <header>
      <h1>Selamat Datang!!!</h1>
      <h2>Informasi atau Dashbord Data Promosi Retail</h2>
    </header>

    <nav>
      <a href="/" id="home">Home</a>
      <a href="/addfile" id="add">Add File Excel/CSV</a>
      <a href="/summarizedata" id="summaries">Summarize Data</a>
      <a href="/grafikbar" id="bar">Grafik Bar</a>
      <a href="/grafikScatter" id="scatter">Grafik ScatterPlot</a>
    </nav>

    <div class="container">
      <h2>Summarize Data</h2>
      <p>
        This is the home page of our web application. You can find general
        information about the features we provide here.
      </p>
    </div>

    <div class="container">
      <form action="/SummarizeData" method="post">
        <div class="form-row">
          <label for="selectColumn">Select Column:</label>
          <select name="selectColumn" id="selectColumn">
            <option value="Income">Income</option>
            <option value="Kidhome">Kidhome</option>
            <option value="Teenhome">Teenhome</option>
            <option value="Recency">Recency</option>
            <option value="MntWines">Wines</option>
            <option value="MntFruits">Fruits</option>
            <option value="MntMeatProducts">Meat Products</option>
            <option value="MntFishProducts">Fish Products</option>
            <option value="MntSweetProducts">Sweet Products</option>
            <option value="MntGoldProds">Gold</option>
            <option value="NumDealsPurchases">Deals Purchases</option>
            <option value="NumWebPurchases">Web Purchases</option>
            <option value="NumCatalogPurchases">Catalog Purchases</option>
            <option value="NumStorePurchases">Store Purchases</option>
            <option value="NumWebVisitsMonth">Web Visits Month</option>
            <option value="AcceptedCmp1">AcceptedCmp1</option>
            <option value="AcceptedCmp2">AcceptedCmp2</option>
            <option value="AcceptedCmp3">AcceptedCmp3</option>
            <option value="AcceptedCmp4">AcceptedCmp4</option>
            <option value="AcceptedCmp5">AcceptedCmp5</option>
            <option value="Complain">Complain</option>
            <option value="Z_CostContact">Z Cost Contact</option>
            <option value="Z_Revenue">Z Revenue</option>
            <option value="Response">Response</option>
          </select>
        </div>

        <div class="form-row">
        <label for="selectOperation">Select Operation:</label>
          <select name="selectOperation" id="selectOperation">
            <option value="SUM">SUM</option>
            <option value="COUNT">COUNT</option>
            <option value="AVG">AVERAGE</option>
            <option value="MIN">MIN</option>
            <option value="MAX">MAX</option>
          </select>
        </div>

        <div class="form-row">
          <label for="groupByColumn">Group By Column:</label>
          <select name="groupByColumn" id="groupByColumn">
            <option value="">-</option>
            <option value="ID">ID</option>
            <option value="Year_Birth">Year Birth</option>
            <option value="Education">Education</option>
            <option value="Marital_Status">Marital Status</option>
            <option value="Dt_Customer">Date Customer</option>
          </select>
        </div>

        <div class="button">
          <button type="submit">Summarize</button>
        </div>
      </form>
    </div>

    <div class="container" id="dataTable">
      <div class="table-container">
      <table border="1">
        <tr>
          <% if (data.length > 0) { %>
            <% Object.keys(data[0]).forEach(column => { %>
              <th><%= column %></th>
            <% }); %>
          <% } %>
        </tr>
        <% data.forEach(row => { %>
          <tr>
            <% Object.keys(row).forEach(column => { %>
              <td><%= row[column] %></td>
            <% }); %>
          </tr>
        <% }); %>
      </table>
      </div>
    </div>
  </body>
</html>
